$formConfig: (
  borderRadius: 5px,
  borderWidth: 1px,
  buttonDisabledOpacity: 0.3,
  buttonHeight: 40px,
  buttonIconOffset: 25%,
  buttonIconAfterOffset: 5px,
  buttonMinWidth: 180px,
  circleDimension: 40px,
  circleExternalDimension: 30px,
  circleRadius: 20px,
  datepickerCellSize: 38px,
  datepickerPadding: 20px,
  datepickerShadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10),
  errorMargin: 5px,
  errorPadding: 7.5px,
  fieldDisabledOpacity: 0.65,
  fieldHeight: 50px,
  fieldMaxWidth: 250px,
  fieldMaxWidthLarge: 320px,
  fieldMaxWidthSmall: 120px,
  fieldPadding: 0 15px,
  fieldShadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10),
  iconSize: 25px,
  labelWidth: 280px,
);

$tooltipConfig: (
  arrowSize: 8px,
  borderRadius: 5px,
  margin: 15px,
  padding: 10px 15px,
  width: 320px,
);

$loginConfig: (
  borderRadius: 5px,
  borderWidth: 1px,
  loginShadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10),
  minHeight: 400px,
);

$loaderConfig: (
  borderRadius: 6px,
  borderRadiusSmall: 4px,
  height: 60px,
  with: 60px,
  heightSmall: 20px,
  withSmall: 20px,
);

$containerConfig: (
  xsmall:  540px,
  small:   700px,
  medium:  960px,
  large:   1140px,
  xlarge:  1370px,
);

$linkConfig: (
  underlineHeight: 2px,
);

$listConfig: (
  borderWidth: 1px,
  iconSize: 25px,
  padding: 20px,
);

$accordionConfig: (
  iconWidth: 2px,
  iconHeight: 10px,
  accordionPadding: 20px,
);

$hamburgerConfig: (
 borderRadius  : 4px,
 layerWidth    : 16px,
 layerHeight   : 3px,
 layerSpacing  : 2px,
 paddingHeight : 10px,
 paddingWidth  : 10px,
);

$pillsConfig: (
 borderRadius : 30px,
 marginPills  : 10px,
 paddingPills : 5px,
);

$modalConfig: (
 borderRadius: 10px,
 closeButtonSize: 40px,
 closeButtonSizeMobile: 30px,
 maxWidthDefault: 650px,
 maxWidthSmall: 500px,
 maxWidthMedium: 800px,
 maxWidthLarge: 1000px,
 padding: 40px 20px,
 paddingMobile: 30px 15px,
 titlePadding: 5px 0 40px 0,
 width: 90%,
);

$navConfig: (
 desktopHeight: 70px,
 mobileHeight : 40px,
);

$avatarConfig: (
 dimension: 24px,
);

$overlayConfig: (
  opacity: 0.7,
  zIndex: 100,
);

$listChooserConfig: (
  boxShadow: 0 5px 10px 0 rgba(0,0,0,.1),
  boxShadowHighlighted: 0 5px 10px 0 rgba(16,161,180,.2),
  width: 360px,
);
