html {
  box-sizing: border-box;
  font-size: size(root);
  overflow-x: hidden;

  @include mq(medium) {
    font-size: size(root);
    line-height: lineHeight(root);
  }

  @include mq(xlarge) {
    font-size: map-get($fontSizes, root) * $largeScreenRatio;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: font(light);
  font-size: inherit;
  height: 100%;
  width: 100%;
}

input,
textarea,
select,
button {
  font-size: inherit;
}

p {
  margin: 0;
}

hr {
  background-color: color(shape, base);
  border: none;
  height: 1px;
  margin: 30px 0;

  @include mq(small) {
    margin: 40px 0;
  }
}

a {
  text-decoration: none; 
}

ul:not(.a-list) {
  list-style: none;
  margin: 0;
  padding: 0;
}
