$fontSizes: (
  root:     14px,
  xsmall:   0.785rem,   // 11px
  small:    0.857rem,   // 12px
  base:     1rem,       // 14px
  medium:   1.1428rem,  // 16px
  large:    1.2857rem,  // 18px
  xlarge:   1.4285rem,  // 20px
  xxlarge:  1.8571rem,  // 26px
)!global;

$goldenRatio: 1.5;
$largeScreenRatio: 1;
