$colors: (
  
  brand: (
    light: #b967d9,
    base:  #8334c2,
    dark:  #7230ac,
  ),

  brandAlt: (
    light: #EDF9F7,
    base:  #1db1aa,
    dark:  #1ba49d,
  ),

  shape: (
    light: #f7f7f7,
    base:  #e0e0e0,
    dark:  #4d5969,
  ),

  text: (
    light: #e0e0e0,
    base:  #7E8890,
    dark:  #4d5969,
  ),

  textAlt: (
    light: #fff,
    base:  rgba(255,255,255,0.5),
    dark:  rgba(255,255,255,0.3),
  ),

  background: (
    base:  #fff,
    dark:  #f7f7f7,
  ),

  backgroundAlt: (
    light: #3c4355,
    base:  #343a4b,
    dark:  #1e2331,
  ),

  action: (
    base:  #21c7a7,
    dark:  #1db396,
  ),

  error: (
    base:  #e74c3c,
  ),

  alert: (
    base: #f7da7e,
    dark: #f7b900,
  ),

) !default;

$fonts: (
  light:     ('avenirltstd-book', Helvetica, Verdana, sans-serif),
  base:      ('avenirltstd-medium', Helvetica, Verdana, sans-serif),
  heavy:     ('avenirltstd-heavy', Helvetica, Verdana, sans-serif),
  monospace: ('Courier New', Courier, monospace),
) !default;

$fontSizes: (
  root:     16px,
  xsmall:   0.75rem,   // 12px
  small:    0.875rem,  // 14px
  base:     1rem,      // 16px
  medium:   1.125rem,  // 18px
  large:    1.375rem,  // 22px
  xlarge:   1.5625rem, // 25px
  xxlarge:  2rem,      // 32px
) !default;

$formConfig: (
  borderRadius: 5px,
  borderWidth: 1px,
  buttonDisabledOpacity: 0.3,
  buttonHeight: 40px,
  buttonHeightSmall: 35px,
  buttonIconOffset: 25%,
  buttonIconAfterOffset: 5px,
  buttonMinWidth: 160px,
  buttonMinWidthSmall: 120px,
  circleDimension: 40px,
  circleExternalDimension: 30px,
  circleRadius: 20px,
  datepickerCellSize: 38px,
  datepickerPadding: 20px,
  datepickerShadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10),
  errorMargin: 5px,
  errorPadding: 7.5px,
  fieldDisabledOpacity: 0.65,
  fieldHeight: 50px,
  fieldMaxWidth: 330px,
  fieldMaxWidthSmall: 110px,
  fieldMaxWidthMedium: 165px,
  fieldMaxWidthLarge: 440px,
  fieldMargin : 5px,
  fieldPadding: 0 15px,
  fieldShadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10),
  formFieldPadding: 10px,
  iconSize: 25px,
  labelWidth: 280px,
) !default;

$tooltipConfig: (
  arrowSize: 8px,
  borderRadius: 5px,
  margin: 15px,
  padding: 10px 15px,
  width: 320px,
) !default;

$loginConfig: (
  borderRadius: 5px,
  borderWidth: 1px,
  loginShadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10),
  minHeight: 400px,
) !default;

$loaderConfig: (
  borderRadius: 6px,
  borderRadiusSmall: 4px,
  height: 60px,
  with: 60px,
  heightSmall: 20px,
  withSmall: 20px,
) !default;

$containerConfig: (
  xsmall:  540px,
  small:   700px,
  medium:  960px,
  large:   1140px,
  xlarge:  1370px,
) !default;

$linkConfig: (
  underlineHeight: 2px,
) !default;

$listConfig: (
  borderWidth: 1px,
  iconSize: 25px,
  padding: 20px,
) !default;

$accordionConfig: (
  iconWidth: 2px,
  iconHeight: 10px,
  accordionPadding: 20px,
) !default;

$hamburgerConfig: (
 borderRadius  : 4px,
 layerWidth    : 16px,
 layerHeight   : 3px,
 layerSpacing  : 2px,
 paddingHeight : 10px,
 paddingWidth  : 10px,
) !default;

$pillsConfig: (
 borderRadius : 30px,
 marginPills  : 10px,
 paddingPills : 5px,
) !default;

$modalConfig: (
 borderRadius: 10px,
 closeButtonSize: 40px,
 closeButtonSizeMobile: 30px,
 maxWidthDefault: 650px,
 maxWidthSmall: 500px,
 maxWidthMedium: 800px,
 maxWidthLarge: 1000px,
 padding: 40px 20px,
 paddingMobile: 30px 15px,
 titlePadding: 5px 0 40px 0,
 width: 90%,
) !default;

$navConfig: (
 desktopHeight: 70px,
 mobileHeight : 40px,
) !default;

$avatarConfig: (
 dimension: 24px,
) !default;

$overlayConfig: (
  opacity: 0.7,
  zIndex: 100,
) !default;

$listChooserConfig: (
  boxShadow: 0 5px 10px 0 rgba(0,0,0,.1),
  boxShadowHighlighted: 0 5px 10px 0 rgba(16,161,180,.2),
  width: 360px,
) !default;

$sectionConfig: (
  mobilePadding: 40px,
  tabletPadding: 60px,
  desktopPadding: 80px,
);

$largeScreenRatio: 1.125 !default;

$containerGutter: 20px;

$goldenRatio: 1.618 !default; // https://medium.com/@zkareemz/golden-ratio-62b3b6d4282a
$zIndexes: tooltip !default;

//Relative font asset path
$fontPath: "../assets/fonts" !default;
