.a-accordion {
  background: inherit;
  color: inherit;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  position: relative;
  transition: background-color 0.3s;

  &.is-open .a-icon {
    transform: rotate(45deg);
  }
}

.a-accordion.a-accordion--base {
  background: color(background, dark);
  color: color(text, dark);

  &.is-open {
    background: color(background, base);
  }
}

.a-accordion.a-accordion--light {
  background: color(background, light);
  color: color(text, dark);

  &.is-open {
    background: color(background, dark);
  }
}

.a-accordion.a-accordion--dark {
  background: color(backgroundAlt, dark);
  color: color(text, light);

  &.is-open {
    background: color(backgroundAlt, light);
  }
}


.a-accordion__toggle {
  align-items: center;
  border-bottom: 1px solid color(shape);
  border-top: 1px solid color(shape);
  color: inherit;
  cursor: pointer;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: space-between;
  padding: rem(map-get($accordionConfig, accordionPadding));
  text-decoration: none;
  width: 100%;

  .a-accordion--dark & {
    border-top: 1px solid color(shape, dark);
    border-bottom: 1px solid color(shape, dark);
  }
}

.a-accordion .a-icon {
  cursor: pointer;
  height: map-get($accordionConfig, iconHeight);
  width: map-get($accordionConfig, iconWidth);
  padding: 0 (map-get($accordionConfig, accordionPadding) / 2);
  transition: all 0.3s;

  &:before, 
  &:after {
    background: color(brandAlt);
    content: '';
    position: absolute;
    height: map-get($accordionConfig, iconHeight);
    width: map-get($accordionConfig, iconWidth);
  }

  &:before {
    transform: rotate(90deg);
  }
}

.a-accordion__content {
  flex: 0 0 0;
  flex-flow: column;
  padding: 0 map-get($accordionConfig, accordionPadding);
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s, padding 0.3s, flex 0.3s;
  visibility: hidden;

  .a-accordion.is-open & {
    border-bottom: 1px solid color(shape);
    display: flex;
    flex: 1 0 auto;
    opacity: 1;
    padding: rem(map-get($accordionConfig, accordionPadding));
    visibility: visible;
  }

  .a-accordion.is-open.a-accordion--dark & {
    border-bottom: 1px solid color(shape, dark);
  }
}

.a-accordion:not(.is-open) .a-accordion__content > * {
  display: none;
}