.a-form-field__checkbox {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.a-form-field__checkbox__label {
  color: color(text, dark);
  cursor: pointer;
  display: flex;
  line-height: map-get($formConfig, fieldHeight);
  margin-right: 20px;
  padding-left: 30px;
  position: relative;
  width: auto;

  .a-form-field__checkbox[disabled] + & {
    opacity: map-get($formConfig, fieldDisabledOpacity);
    pointer-events: none;
  }

  &:hover {
    color: color(brandAlt, dark);
  }

  &:before,
  &:after {
    display: flex;
    font-family: font(monospace);
    font-size: 16px;
    height: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 20px;
  }

  &:before {
    background-color: color(background);
    border: map-get($formConfig, borderWidth) solid color(brandAlt);
    border-radius: 3px;
    content: "";
    left: 0;
    transform: translateY(-50%);
    transition: background-color 0.125s 0.2s, transform 0.35s cubic-bezier(0.78, -1.22, 0.17, 1.89);

    .a-form-field.has-error &,
    .m-form-field-list.has-own-errors &,
    .m-form-field-list.has-own-errors .a-form-field.is-valid & {
      border-color: color(error);
    }

    .a-form-field.has-warning:not(.has-error) &,
    .m-form-field-list.has-own-warnings:not(.has-own-errors):not(.has-field-errors) &,
    .m-form-field-list.has-own-warnings:not(.has-own-errors):not(.has-field-errors) .a-form-field.is-valid & {
      border-color: color(alert, dark);
    }

    .m-form-field-list.has-own-errors.has-field-warnings .a-form-field.has-warning &,
    .m-form-field-list.has-field-errors.has-field-warnings .a-form-field.has-warning & {
      border-color: color(shape);
      color: color(text, dark);
    }

    .a-form-field__checkbox[disabled] + & {
      background-color: color(background, dark);
      border-color: color(shape);
    }
  }

  &:after {
    clip-path: inset(0 100% 0 0);
    color: color(text, light);
    content: "\e915";
    font-family: "pyxisIconset";
    font-size: 16px;
    left: 2px;
    line-height: 20px;
    opacity: 0;
    transform: translateY(-50%);
    transition: clip-path 0.3s linear, opacity 0.2s linear;
  }

  &:hover:after {
    opacity: 1;
  }

  .a-form-field.has-error &,
  .a-form-field.has-warning &,
  .m-form-field-list.has-own-errors &,
  .m-form-field-list.has-own-errors .a-form-field.is-valid &,
  .m-form-field-list.has-own-warnings:not(.has-own-errors):not(.has-field-errors) &,
  .m-form-field-list.has-own-warnings:not(.has-own-errors):not(.has-field-errors) .a-form-field.is-valid & {
    color: color(text, dark);
  }

  .a-form-field__checkbox:checked + & {
    color: color(brandAlt, dark);
  }

  .a-form-field__checkbox:checked + &:after {
    clip-path: inset(0 0 0 0);
    color: color(brandAlt, dark);
    opacity: 1;
  }

  .a-form-field__checkbox:not(:checked) + &:hover:before {
    transform: scale(1.05) translateY(-50%);

    .isTouchDevice & {
      transform: scale(1) translateY(-50%);
    }
  }

  .a-form-field__checkbox:not(:checked) + &:hover:after {
    clip-path: inset(0 0 0 0);

    .isTouchDevice & {
      opacity: 0;
    }
  }
}

.checkboxFullText {
  padding-left: 30px;

  .a-form-field__label {
    flex: 1;
    order: 2;
    text-align: left;
  }
}
