.a-form-field__date {
  background: color(background);
  border: map-get($formConfig, borderWidth) solid color(shape);
  border-radius: map-get($formConfig, borderRadius);
  color: color(brandAlt, dark);
  height: map-get($formConfig, fieldHeight);
  margin: 0;
  padding: 0 15px;

  @include mq(small) {
    display: none;
  }

  &:focus {
    border-color: color(brandAlt);
    box-shadow: map-get($formConfig, fieldShadow);
  }

  &[disabled] {
    background: color(background, dark);
    opacity: map-get($formConfig, fieldDisabledOpacity);
    pointer-events: none;
  }
}

.a-form-field__input.a-form-field__datepicker + .a-form-field__date {
  margin: 0;
}
