.a-fieldset {
  border: none;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin: 0;
  padding: 15px 0;
}

.a-fieldset__legend {
  border-bottom: 1px solid color(shape);
  font-family: font(heavy);
  font-size: size(small);
  padding: 15px;
  text-transform: uppercase;
  width: 100%;
}
