.a-form-field {
  align-items: baseline;
  border-radius: map-get($formConfig, borderRadius);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 70px;
  padding: 10px;
  position: relative;
  transition: background 0.3s;

  &:hover {
    @include mq(medium) {
      background: color(background, dark);
    }
  }
}

.a-form-field__input,
.a-form-field__date,
.a-form-field__textarea,
.a-form-field__select,
.a-form-field__custom-select {
  font-family: font(light);
  font-size: 14px;
  min-width: 100%;
  outline: none;

  @include mq(small) {
    min-width: map-get($formConfig, fieldMaxWidth);
  }

  &.field-small {
    min-width: calc(50% - 5px);

    @include mq(small) {
      min-width: map-get($formConfig, fieldMaxWidthSmall);
      width: map-get($formConfig, fieldMaxWidthSmall);
    }
  }

  &.field-large {
    min-width: map-get($formConfig, fieldMaxWidthLarge);
  }

  & + & {
    @include mqDown(small) {
      margin-top: 10px;
    }

    @include mq(small) {
      margin-left: 10px;
    }
  }

  .has-error & {
    border-color: color(error);
  }

  .has-warning & {
    border-color: color(alert, dark);
  }
}

.a-form-field__input,
.a-form-field__date,
.a-form-field__select {
  transition: background 0.3s, border 0.3s, color 0.3s;
  -webkit-appearance: none;
}

.a-form-field__field-wrapper {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
}

.a-form-field__validation-message {
  font-family: font(base);
  font-size: 12px;
  flex: 0 0 100%;

  .has-error & {
    color: color(error);
  }

  .has-warning:not(.has-error) & {
    color: color(alert, dark);
  }
}

::-webkit-input-placeholder {
  color: color(text);
  opacity: 0.6;
}

::-moz-placeholder {
  color: color(text);
  opacity: 0.6;
}

:-ms-input-placeholder {
  color: color(text);
  opacity: 0.6;
}

:-moz-placeholder {
  color: color(text);
  opacity: 0.6;
}

::-ms-clear {
  display: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
