.a-form-field {
  align-items: center;
  border-radius: map-get($formConfig, borderRadius);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 70px;
  padding: 10px;
  position: relative;
  transition: background 0.3s;

  &:hover {
    @include mq(medium) {
      background: color(background, dark);
    }
  }
}

.a-form-field__input,
.a-form-field__date,
.a-form-field__textarea,
.a-form-field__select,
.a-form-field__custom-select {
  font-family: font(light);
  min-width: 100%;
  outline: none;

  @include mq(small) {
    min-width: map-get($formConfig, fieldMaxWidth);
  }

  &.field-small {
    min-width: calc(50% - 5px);

    @include mq(small) {
      min-width: map-get($formConfig, fieldMaxWidthSmall);
      width: map-get($formConfig, fieldMaxWidthSmall);
    }
  }

  &.field-large {
    min-width: map-get($formConfig, fieldMaxWidthLarge);
  }

  & + & {
    @include mqDown(small) {
      margin-top: 10px;
    }

    @include mq(small) {
      margin-left: 10px;
    }
  }

  .a-form-field__error + & {
    margin-left: 10px;
  }
}

.a-form-field__input,
.a-form-field__date,
.a-form-field__select {
  transition: background 0.3s, border 0.3s, color 0.3s;
  -webkit-appearance: none;
}

.a-form-field__input,
.a-form-field__date,
.a-form-field__textarea,
.a-form-field__autocomplete,
.a-form-field__custom-select {
  font-size: 14px;
}

.a-form-field__validation-message__list {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.a-form-field__validation-message {
  font-family: font(base);
  font-size: 12px;

  @include mq(small) {
    margin-top: map-get($formConfig, errorMargin);
    padding-left: calc(50% - (#{map-get($formConfig, fieldMaxWidth)} / 2));
  }

  .has-errors & {
    color: color(error);
  }

  .has-warnings:not(.has-error) & {
    color: color(error);
  }

}

::-webkit-input-placeholder {
  color: color(text);
  opacity: 0.6;
}

::-moz-placeholder {
  color: color(text);
  opacity: 0.6;
}

:-ms-input-placeholder {
  color: color(text);
  opacity: 0.6;
}

:-moz-placeholder {
  color: color(text);
  opacity: 0.6;
}

::-ms-clear {
  display: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
