.a-hamburger {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  margin: 0;
  overflow: visible;
  padding: map-get($hamburgerConfig, paddingHeight) map-get($hamburgerConfig, paddingWidth);
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  z-index: 10;

  &:focus {
    outline: none
  }
}

.a-hamburger__box {
  display: inline-block;
  height: map-get($hamburgerConfig, layerHeight) * 3 + map-get($hamburgerConfig, layerSpacing) * 2;
  position: relative;
  width: map-get($hamburgerConfig, layerWidth);
  z-index: 110;
}

.a-hamburger__inner {
  display: block;
  margin-top: map-get($hamburgerConfig, layerHeight) / -2;
  top: 50%;

  &,
  &::before,
  &::after {
    background-color: color(text, dark);
    border-radius: map-get($hamburgerConfig, layerWidth);
    height: 2px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    width: map-get($hamburgerConfig, layerWidth);
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: (map-get($hamburgerConfig, layerSpacing) + map-get($hamburgerConfig, layerHeight)) * -1;
  }

  &::after {
    bottom: (map-get($hamburgerConfig, layerSpacing) + map-get($hamburgerConfig, layerHeight)) * -1;
  }
}
