.a-icon {
  font-size: size(large);
}

.m-form-input-group__append .a-icon,
.m-form-input-group__prepend .a-icon {
  height: map-get($formConfig, fieldHeight);
  line-height: map-get($formConfig, fieldHeight);
  text-align: center;
  width: map-get($formConfig, fieldHeight);

  .has-error & {
    color: color(error);
  }

  .has-warning:not(.has-error) & {
    color: color(alert, dark);
  }
}
