.a-icon {
  font-size: size(large);
}

.m-form__field__group__append .a-icon,
.m-form__field__group__prepend .a-icon {
  height: map-get($formConfig, fieldHeight);
  line-height: map-get($formConfig, fieldHeight);
  text-align: center;
  width: map-get($formConfig, fieldHeight);
}

.m-nav .a-icon {
  font-size: size(medium);
  padding: 10px;

  @include mq(small) {
    padding: 0 5px 5px 0;
  }
}
