.a-form-field__input {
  background: color(background);
  border: map-get($formConfig, borderWidth) solid color(shape);
  border-radius: map-get($formConfig, borderRadius);
  color: color(text, dark);
  height: map-get($formConfig, fieldHeight);
  margin: 0;
  padding: map-get($formConfig, fieldPadding);
  -webkit-text-fill-color: color(text, dark);

  &:focus {
    border: map-get($formConfig, borderWidth) solid color(brandAlt);
    box-shadow: map-get($formConfig, fieldShadow);
    color: color(text, dark);
    -webkit-text-fill-color: color(text, dark);

    .a-form-field.has-error &,
    .m-form-field-list.has-own-errors &,
    .m-form-field-list.has-own-errors .a-form-field.is-valid & {
      border-color: color(error);
    }

    .a-form-field.has-warning:not(.has-error) &,
    .m-form-field-list.has-own-warnings:not(.has-own-errors):not(.has-field-errors) &,
    .m-form-field-list.has-own-warnings:not(.has-own-errors):not(.has-field-errors) .a-form-field.is-valid & {
      border-color: color(alert, dark);
    }

    .m-form-field-list.has-own-errors.has-field-warnings .a-form-field.has-warning &,
    .m-form-field-list.has-field-errors.has-field-warnings .a-form-field.has-warning & {
      border-color: color(shape);
    }
  }

  .a-form-field.is-valid:not(.is-pristine) & {
    color: color(brandAlt, dark);
    -webkit-text-fill-color: color(brandAlt, dark);
  }

  &.is-disabled,
  &[disabled] {
    background-color: color(background, dark);
    opacity: map-get($formConfig, fieldDisabledOpacity);
    pointer-events: none;
  }
}
