.a-form-field__input {
  background: color(background);
  border: map-get($formConfig, borderWidth) solid color(shape);
  border-radius: map-get($formConfig, borderRadius);
  color: color(text, dark);
  height: map-get($formConfig, fieldHeight);
  margin: 0;
  padding: map-get($formConfig, fieldPadding);
  -webkit-text-fill-color: color(text, dark);

  &:focus {
    border: map-get($formConfig, borderWidth) solid color(brandAlt);
    box-shadow: map-get($formConfig, fieldShadow);
    color: color(text, dark);
    -webkit-text-fill-color: color(text, dark);
  }

  &.is-valid:not(.is-pristine) {
    color: color(brandAlt, dark);
    border-color: color(brandAlt, dark);
    -webkit-text-fill-color: color(brandAlt, dark);
  }

  &.has-error {
    border-color: color(error);
  }

  &.has-warning {
    border-color: color(alert, dark);
  }

  &.is-disabled,
  &[disabled] {
    background-color: color(background, dark);
    opacity: map-get($formConfig, fieldDisabledOpacity);
    pointer-events: none;
  }
}

.m-form-input-group .a-form-field__input {

  &.is-small {
    width: map-get($formConfig, fieldMaxWidthSmall);
  }

  &.is-medium {
    width: map-get($formConfig, fieldMaxWidthMedium);
  }

  &.is-large {
    width: map-get($formConfig, fieldMaxWidthLarge);
  }
}
