.a-link {
  background-image: linear-gradient(rgba(color(brandAlt), 0.25), rgba(color(brandAlt), 0.25));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0;
  color: color(brandAlt);
  display: inline;
  font-family: font(base);
  line-height: lineHeight(base);
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  position: relative;

  &:hover {
    background-size: 100% 2px;
    color: color(brandAlt, dark);
  }

  &.a-link--with-icon {
    align-self: flex-start;
    background-position: 30px 100%;

    .a-link__icon {
      margin-right: 8px;
      vertical-align: middle;
    }
  }

  &.a-link--standalone {
    $arrowTickness: 2px;
    $arrowSpace: 35px;
    $arrowPadding: 10px;
    $arrowWidth: $arrowSpace - ($arrowPadding * 2);

    align-self: flex-start;
    background-image: none;
    font-size: size(small);
    padding-right: $arrowSpace;
    position: relative;

    //Arrow body
    &:before {
      background-color: color(brandAlt);
      content: " ";
      display: inline;
      height: $arrowTickness;
      margin-top: calc(#{lineHeight(base)/2} - #{$arrowTickness} );
      left: calc(100% - #{$arrowSpace - $arrowPadding});
      position: absolute;
      top: 0;
      transition: all ease-in-out 0.1s;
      width: 0;
      zoom: 1;
    }

    &:hover:before {
      width: $arrowWidth;
    }

    //Arrow point
    &:after {
      border-right: $arrowTickness solid color(brandAlt);
      border-top: $arrowTickness solid color(brandAlt);
      content: "";
      display: inline;
      height: 6px;
      left: calc(100% - #{$arrowSpace - $arrowPadding + 4px});
      top: 0;
      margin-top: calc(#{lineHeight(base)/2} - #{$arrowTickness} );
      position: absolute;
      transform: rotate(45deg) translateY(-50%);
      transition: all ease-in-out 0.1s;
      width: 6px;
      zoom: 1;
    }

    &:hover:after {
      left: calc(100% - #{$arrowSpace - $arrowWidth - 3px});
    }
  }
}
