.a-link {
  background-image: linear-gradient(rgba(color(brandAlt), 0.25), rgba(color(brandAlt), 0.25));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 0;
  color: color(brandAlt);
  display: inline;
  font-family: font(base);
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  position: relative;

  &:hover {
    @include mq(medium) {
      background-size: 100% 2px;
      color: color(brandAlt, dark);
    }
  }

  &:active {
    @include mq(medium) {
      color: color(brandAlt);
      opacity: 0.7;
    }
  }

  &.a-link--standalone {
    $arrowTickness: 2px;
    $arrowSpace: 35px;
    $arrowPadding: 10px;
    $arrowWidth: $arrowSpace - ($arrowPadding * 2);

    align-self: flex-start;
    background-image: none;
    font-size: size(small);
    padding-right: $arrowSpace;
    position: relative;

    &:before,
    &:after {
      content: "";
      display: inline-block;
      margin-top: -($arrowTickness);
      top: 50%;
      position: absolute;
      transition: all ease-in-out 0.1s;
      zoom: 1;
    }

    &:before {
      background-color: color(brandAlt);
      height: $arrowTickness;
      left: calc(100% - #{$arrowSpace - $arrowPadding});
      transition: all ease-in-out 0.1s;
      width: 0;
    }

    &:hover:before {
      @include mq(medium) {
        width: $arrowWidth;
      }
    }

    &:after {
      border-right: $arrowTickness solid color(brandAlt);
      border-top: $arrowTickness solid color(brandAlt);
      height: 6px;
      left: calc(100% - #{$arrowSpace - $arrowPadding + 4px});
      transform: rotate(45deg) translateY(-50%);
      width: 6px;
    }

    &:hover:after {
      @include mq(medium) {
        left: calc(100% - #{$arrowSpace - $arrowWidth - 3px});
      }
    }
  }
}
