.a-list__item {
  display: list-item;
  flex: 0 0 auto;
  list-style-type: disc;
  padding: (map-get($listConfig, padding) / 2) ;

  .m-list--no-pointers & {
    display: flex;
  }

  &.a-list__item--button {

    &.is-active .a-link {
      background: color(brandAlt, dark);
      color: color(textAlt, light);
      padding: (map-get($listConfig, padding) / 2) 5px;
      transition: background-color 0.1s ease;

      @include mq(medium) {
        padding: (map-get($listConfig, padding) / 2) 15px;
      }

      &:hover {
        background: lighten(color(brandAlt, dark), 5%);
        color: color(textAlt, light);
      }

      &:after,
      &:before {
        display: none
      }

    }
  }

  &.a-list__item--button .a-link {
    border-radius: 80px;
    color: color(brandAlt, dark);
    transition: background-color 0.3s ease;
  }

  &.a-list__item--reserved-area {
    display: flex;
    flex-direction: row;
    transition: all 0.5s;

    @include mq(medium) {
      border-left: map-get($listConfig, borderWidth) solid color(shape);
      padding: map-get($listConfig, padding);
    }

    .a-link:last-child {
      @include mq(small){
        margin-left: 10px
      }
    }
  }
}
