$listConfig: (
  listStyle: disc,
  paddingLeft: rem(30px),
  breakpoints: (
    base: (
      marginTop: rem(15px),
      marginBottom: rem(15px),
    ),
    small: (
      marginTop: rem(20px),
      marginBottom: rem(20px),
    )
  )
) !default;

.list {
  list-style: get($listConfig, listStyle);
  padding: 0;
  padding-left: get($listConfig, paddingLeft);

  @each $bp, $bpConfig in get($listConfig, breakpoints) {
    @include mq($bp) {
      margin-bottom: get($bpConfig, marginBottom);
      margin-top: get($bpConfig, marginTop);
    }
  }
}
