.a-overlay {
  background: rgba(color(backgroundAlt, dark), map-get($overlayConfig, opacity));
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: map-get($overlayConfig, zIndex);
}
