.a-form-field__radio-button-options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.a-form-field__radio-button-options__item {
  $padding: nth(map-get($formConfig, fieldPadding), 2);

  border: 1px solid transparent;
  background-color: color(background);
  box-shadow: map-get($formConfig, fieldShadow);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 5px;
  min-height: map-get($formConfig, fieldHeight);
  justify-content: center;
  padding: $padding;
  transition: border 0.3s ease-in-out, background 0.3s ease-in-out;

  & + & {
    @include mq(medium) {
      margin-left: 20px;
    }
  }

  &.is-selected {
    background-color: color(brandAlt, light);
    border-color: color(brandAlt);
  }

  &.has-subtitle {
    justify-content: flex-start;
  }

  &.has-warning {
    border-color: color(alert, dark);
  }

  &.has-error {
    border-color: color(error);
  }

  &:hover {
    border-color: color(brandAlt);
  }
}

.a-form-field__radio-button__title,
.a-form-field__radio-button__subtitle {
  font-size: size(small);
}

.a-form-field__radio-button__title {
  color: color(text, dark);
  text-align: center;

  .a-form-field__radio-button-options__item.has-subtitle & {
    font-family: font(heavy);
    text-align: left;
  }
}

.a-form-field__radio-button__subtitle {
  color: color(text);
  line-height: lineHeight(xsmall);
}