.a-form-field__radio {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.a-form-field__radio-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  min-height: map-get($formConfig, fieldHeight);
}

.a-form-field__radio-options__item {
  display: flex;
  align-items: center;
  flex: 1;
}

.a-form-field__radio-options__item__label {
  color: color(text, dark);
  cursor: pointer;
  display: flex;
  font-size: size(small);
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  align-items: center;
  transition: background 0.3s, color 0.3s;
  width: auto;

  .a-form-field__radio:checked + & {
    color: color(brandAlt, dark);
  }

  .a-form-field__radio[disabled] + & {
    opacity: map-get($formConfig, fieldDisabledOpacity);
    pointer-events: none;
  }

  &:hover,
  .a-form-field__radio:focus + & {
    color: color(brandAlt, dark);
  }


  &:before,
  &:after {
    border-radius: 20px;
    display: flex;
    font-family: font(monospace);
    font-size: 16px;
    height: 20px;
    position: absolute;
    text-align: center;
    width: 20px;
    transform-origin: center center;
  }

  &:before {
    background-color: color(background);
    border: map-get($formConfig, borderWidth) solid color(brandAlt);
    content: "";
    left: 0;
    top: 50%;
    margin-top: -2px;
    transform: translateY(-50%);
  }

  .a-form-field__radio[disabled] + &:before {
    background-color: color(background, dark);
    border-color: color(shape);
  }

  .a-form-field__radio.has-error + &:before {
    border-color: color(error);
  }

  &:after {
    background: color(brandAlt, dark);
    content: "";
    left: 5px;
    height: 10px;
    top: 50%;
    margin-top: -7px;
    transform: scale(0);
    transition: transform 0.2s cubic-bezier(0, 1, 1, 1);
    width: 10px;
  }

  &:hover:after,
  .a-form-field__radio:checked + &:after {
    transform: scale(1);
  }

  .a-form-field__radio:not(:checked) + &:hover:after {
    opacity: map-get($formConfig, fieldDisabledOpacity);
  }

  .a-form-field__radio.has-error + &:after {
    color: color(error);
    background-color: color(error);
  }
}