.a-form-field__radio {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.a-form-field__radio__label {
  color: color(text, dark);
  cursor: pointer;
  display: flex;
  line-height: map-get($formConfig, fieldHeight);
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  transition: background 0.3s, color 0.3s;
  width: auto;

  &:hover,
  .a-form-field__radio:focus + & {
    color: color(brandAlt, dark);

    .has-error &,
    .has-warning & {
      color: color(text, dark);
    }
  }

  .a-form-field__radio[disabled] + & {
    opacity: map-get($formConfig, fieldDisabledOpacity);
    pointer-events: none;
  }

  .a-form-field__radio:checked + & {
    color: color(brandAlt, dark);
  }

  &:before,
  &:after {
    border-radius: 20px;
    display: flex;
    font-family: font(monospace);
    font-size: 16px;
    height: 20px;
    position: absolute;
    text-align: center;
    width: 20px;
    transform-origin: center center;
  }

  &:before {
    background-color: color(background);
    border: map-get($formConfig, borderWidth) solid color(brandAlt);
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    .has-error & {
      border-color: color(error);
    }

    .has-warning & {
      border-color: color(alert);
    }
  }

  &:after {
    background: color(brandAlt, dark);
    content: "";
    left: 5px;
    height: 10px;
    top: 20px;
    transform: scale(0);
    transition: transform 0.2s cubic-bezier(0, 1, 1, 1);
    width: 10px;

    .has-error & {
      background: color(text, light);
    }
  }

  &:hover:after,
  .a-form-field__radio:checked + &:after {
    transform: scale(1);
  }

  .a-form-field__radio:not(:checked) + &:hover:after {
    opacity: map-get($formConfig, fieldDisabledOpacity);
  }
}

.a-form-field__radio-options {
  display: flex;
  flex-direction: row;

  &.is-vertical {
    flex-direction: column;
  }
}

.radioFullText {
  .a-form-field__label {
    flex: 1;
    text-align: left;
  }

  .a-form-field__error {
    margin-top: 0;
    text-align: right;
  }
}
