/************************
  Tablet/Desktop component
*************************/
.a-form-field__custom-select {
  background: color(background);
  border: map-get($formConfig, borderWidth) solid color(shape);
  border-radius: map-get($formConfig, borderRadius);
  color: color(brandAlt, dark);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  position: relative;

  .is-touched:not(.has-error):not(.has-warning) & {
    border-color: color(brandAlt, dark);
  }

  &.is-disabled,
  &[disabled] {
    background: color(background, dark);
    opacity: map-get($formConfig, fieldDisabledOpacity);
    pointer-events: none;
  }

  &.is-open {
    border: map-get($formConfig, borderWidth) solid color(brandAlt);
    box-shadow: map-get($formConfig, fieldShadow);

    .has-error & {
      border-color: color(error);
    }

    .has-warning:not(.has-error) & {
      border-color: color(alert, dark);
    }

    @include mq(medium) {
      border-radius: map-get($formConfig, borderRadius) map-get($formConfig, borderRadius) 0px 0px;
    }
  }

  @include mq(medium) {
    pointer-events: auto;
  }
}

.a-form-field__custom-select__status {
  align-items: center;
  border-color: inherit;
  color: color(text);
  display: flex;
  height: map-get($formConfig, fieldHeight);
  padding: map-get($formConfig, fieldPadding);
  position: relative;

  &:after {
    color: color(brandAlt, dark);
    content: "\e90a";
    font-family: 'pyxisIconset';
    font-size: map-get($formConfig, iconSize);
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.2s cubic-bezier(0, 1, 1, 1);
    right: 10px;

    .has-error & {
      color: color(error);
    }

    .has-warning:not(.has-error) & {
      color: color(alert, dark);
    }
  }

  .is-valid:not(.is-pristine) & {
    color: color(brandAlt, dark);
    opacity: 1;
  }

  .is-open &:after {
    transform: translateY(-50%) rotate(-180deg);
  }
}

.a-form-field__custom-select__list {
  background: color(background);
  border: map-get($formConfig, borderWidth) solid color(shape);
  border-radius: 0 0 map-get($formConfig, borderRadius) map-get($formConfig, borderRadius);
  border-top: none;
  display: none;
  flex-direction: column;
  left: -1px;
  list-style: none;
  margin: -1px 0 0 0;
  max-height: map-get($formConfig, fieldHeight) * 4 + map-get($formConfig, fieldHeight) * 0.5;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  right: -1px;
  top: 100%;
  z-index: 3;

  .is-open & {
    border: 1px solid color(brandAlt);
    border-top-color: color(shape);
    box-shadow: map-get($formConfig, fieldShadow);
    display: none;

    @include mq(medium) {
      display: flex;
    }
  }

  .has-error & {
    border-color: color(error);
  }

  .has-warning:not(.has-error) & {
    border-color: color(alert, dark);
  }

  .has-error &,
  .has-warning:not(.has-error) & {
    border-top-color: color(shape);
  }
}

.a-form-field__custom-select__list__item {
  align-items: center;
  color: color(text, dark);
  display: flex;
  flex: 0 0 100%;
  min-height: map-get($formConfig, fieldHeight);
  outline: none;
  padding: map-get($formConfig, fieldPadding);

  &.is-selected,
  &.is-selected:hover,
  &.is-selected:focus {
    background: color(brandAlt, light);
    color: color(brandAlt, dark);
  }

  &:hover,
  &:focus {
    background: color(background, dark);
  }
}

/************************
  Mobile component
*************************/
.a-form-field__select {
  background: color(background);
  border: map-get($formConfig, borderWidth) solid color(shape);
  border-radius: map-get($formConfig, borderRadius);
  bottom: 10px;
  color: color(brandAlt, dark);
  display: flex;
  font-size: size(small);
  height: map-get($formConfig, fieldHeight);
  margin: 0;
  outline: none;
  opacity: 0;
  padding: map-get($formConfig, fieldPadding);
  position: absolute;

  @include mq(medium) {
    display: none;
  }

  &:focus {
    border-color: color(brandAlt);
  }

  &.is-disabled,
  &[disabled] {
    background: color(background, dark);
    opacity: map-get($formConfig, fieldDisabledOpacity);
    pointer-events: none;
  }

  option {
    color: color(text, dark);
  }
}
