.a-form-field__textarea {
  background: color(background);
  border: map-get($formConfig, borderWidth) solid color(shape);
  border-radius: map-get($formConfig, borderRadius);
  color: color(text, dark);
  min-height: 100px;
  margin: 0;
  padding: nth(map-get($formConfig, fieldPadding), 2);
  -ms-overflow-style: none;
  -webkit-appearance: none;
  -webkit-text-fill-color: color(text, dark);

  &:focus {
    border-color: color(brandAlt);
    box-shadow: map-get($formConfig, fieldShadow);

    .a-form-field.has-warning:not(.has-error) &,
    .m-form-field-group.has-own-warnings:not(.has-own-errors):not(.has-field-errors) &,
    .m-form-field-group.has-own-warnings:not(.has-own-errors):not(.has-field-errors) .is-valid & {
      border-color: color(alert, dark);
    }

    .a-form-field.has-error &,
    .m-form-field-group.has-own-errors &,
    .m-form-field-group.has-own-errors .is-valid & {
      border-color: color(error);
    }

    .m-form-field-group.has-own-errors.has-field-warnings .a-form-field.has-warning &,
    .m-form-field-group.has-field-errors.has-field-warnings .a-form-field.has-warning & {
      border-color: color(shape);
    }
  }

  &.is-disabled,
  &[disabled] {
    background: color(background, dark);
    opacity: map-get($formConfig, fieldDisabledOpacity);
    pointer-events: none;
  }
}
