.a-form__field__textarea {
  background: color(background);
  border: map-get($formConfig, borderWidth) solid color(shape);
  border-radius: map-get($formConfig, borderRadius);
  color: color(text, dark);
  max-width: calc(100% - 280px);
  min-height: 100px;
  margin: 0;
  padding: nth(map-get($formConfig, fieldPadding), 2);
  -ms-overflow-style: none;
  -webkit-appearance: none;
  -webkit-text-fill-color: color(text, dark);

  &:focus,
  &.is-pristine:focus {
    border-color: color(brandAlt);
    box-shadow: map-get($formConfig, fieldShadow);
  }

  &.is-valid:not(:focus),
  &.is-touched:not(.is-invalid):not(:focus) {
    border-color: color(brandAlt, dark);
    color: color(brandAlt, dark);
    -webkit-text-fill-color: color(brandAlt, dark);
  }

  &.is-invalid.is-touched:not(:focus) {
    border-color: color(error);
    color: color(error);
    -webkit-text-fill-color: color(error);
  }

  &.is-pristine {
    border: map-get($formConfig, borderWidth) solid color(shape);
  }

  &.is-disabled,
  &[disabled] {
    background: color(background, dark);
    opacity: map-get($formConfig, fieldDisabledOpacity);
    pointer-events: none;
  }
}
