.a-form-field__textarea {
  background: color(background);
  border: map-get($formConfig, borderWidth) solid color(shape);
  border-radius: map-get($formConfig, borderRadius);
  color: color(text, dark);
  min-height: 100px;
  margin: 0;
  padding: nth(map-get($formConfig, fieldPadding), 2);
  -ms-overflow-style: none;
  -webkit-appearance: none;
  -webkit-text-fill-color: color(text, dark);

  &:focus {
    border-color: color(brandAlt);
    box-shadow: map-get($formConfig, fieldShadow);
  }

  &.is-disabled,
  &[disabled] {
    background: color(background, dark);
    opacity: map-get($formConfig, fieldDisabledOpacity);
    pointer-events: none;
  }
}
