$tooltipMode: (
  warning: color(alert),
  error: color(error)
);

@each $mode, $color in $tooltipMode {
  .a-tooltip.a-tooltip--#{$mode},
  .a-tooltip.a-tooltip--#{$mode}:before {
    background-color: $color;

    @if $mode == warning {
      color: color(text, dark);
    }
  }
}

.a-tooltip {
  background-color: color(backgroundAlt, base);
  border-radius: map-get($tooltipConfig, borderRadius);
  color: color(textAlt, light);
  padding: map-get($tooltipConfig, padding);
  position: absolute;
  width: map-get($tooltipConfig, width);
  z-index: zIndex(tooltip);

  .m-form-field-list__fields-wrapper &,
  .a-form-field__field-wrapper & {
    max-width: 100%;
  }

  &:before {
    background-color: color(backgroundAlt, base);
    content: "";
    height: map-get($tooltipConfig, arrowSize);
    position: absolute;
    width: map-get($tooltipConfig, arrowSize);
  }

  p {
    margin: 0;
    font-size: size(small);
    line-height: lineHeight(small);
  }
}

.a-tooltip__wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  right: -30px;
  top: 0;
  bottom: 0;

  .a-tooltip {
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }

  &:hover .a-tooltip {
    opacity: 1;
    pointer-events: auto;
  }
}

.a-tooltip.a-tooltip--up:before,
.a-tooltip.a-tooltip--down:before {
  transform: translateX(-50%) rotate(45deg);
}

.a-tooltip.a-tooltip--left:before,
.a-tooltip.a-tooltip--right:before {
  transform: translateY(-50%) rotate(45deg);
}

.a-tooltip.a-tooltip--up {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -(map-get($tooltipConfig, margin)));

  &:before {
    bottom: -(map-get($tooltipConfig, arrowSize) / 2);
    left: 50%;
  }
}

.a-tooltip.a-tooltip--down {
  left: 50%;
  top: 100%;
  transform: translate(-50%, map-get($tooltipConfig, margin));

  &:before {
    left: 50%;
    top: -(map-get($tooltipConfig, arrowSize) / 2);
  }
}

.a-tooltip.a-tooltip--right {
  left: 100%;
  top: 50%;
  transform: translate(map-get($tooltipConfig, margin), -50%);

  &:before {
    left: -(map-get($tooltipConfig, arrowSize) / 2);
    top: 50%;
  }
}

.a-tooltip.a-tooltip--left {
  right: 100%;
  top: 50%;
  transform: translate(-(map-get($tooltipConfig, margin)), -50%);

  &:before {
    right: -(map-get($tooltipConfig, arrowSize) / 2);
    top: 50%;
  }
}
