h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font(base);
  font-weight: normal;
}


@mixin tmpTypography {
  h1 {
    @extend .fs-large;

    @include mq(small) {
      font-size: size(xlarge);
      line-height: lineHeight(xlarge);
    }

    @include mq(medium) {
      font-size: size(xxlarge);
      line-height: lineHeight(xxlarge);
    }
  }

  h2 {
    @extend .fs-base;

    @include mq(small) {
      font-size: size(large);
      line-height: lineHeight(large);
    }

    @include mq(medium) {
      font-size: size(xlarge);
      line-height: lineHeight(xlarge);
    }
  }

  h3 {
    @extend .fs-base;

    @include mq(small) {
      font-size: size(medium);
      line-height: lineHeight(medium);
    }

    @include mq(medium) {
      font-size: size(large);
      line-height: lineHeight(large);
    }
  }

  h4 {
    @extend .fs-small;

    @include mq(small) {
      font-size: size(base);
      line-height: lineHeight(base);
    }
  }

  p:not([class*="fs-"]),
  ul:not([class]) {
    @extend .fs-small;

    @include mq(small) {
      font-size: size(small);
      line-height: lineHeight(small);
    }

    @include mq(medium) {
      font-size: size(base);
      line-height: lineHeight(base);
    }
  }
}

@include ignorePyxis {
  @include tmpTypography;
}
