.m-accordion-group {
  color: color(text);
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  &.m-accordion-group--dark {
    background: color(backgroundAlt, base);
    color: color(textAlt, light);
  }
}
