$btnTopMargin: 5px;
$btnSideMargin: 7px;

.m-btnGroup {
  display: flex;
  flex-flow: row wrap;
  padding: 15px 0;

  .a-btn {
    margin: $btnTopMargin $btnSideMargin;
  }
}

/**
    100% fluid group with buttons that automatically grow keeping gutters between buttons
*/

.m-btnGroup.m-btnGroup--coverFluid {
  .a-btn {
    flex: 1 1 0;
    margin-left: 0;
    margin-right: 0;

    span {
      overflow: hidden;
      white-space: normal;
      width: 100%;
    }
  }

  /**

    Automargin magic

  */

  @mixin aloneInRowMargins {
    margin-left: 0;
    margin-right: 0;
  }

  @mixin firstInRowMargins {
    margin-left: 0;
    margin-right: $btnSideMargin;
  }

  @mixin middleInRowMargins {
    margin-left: $btnSideMargin;
    margin-right: $btnSideMargin;
  }

  @mixin lastInRowMargins {
    margin-left: $btnSideMargin;
    margin-right: 0;
  }

  /* When two buttons big */
  @include withNElements('.a-btn:not(.a-btn--small)', 2) {
    @media screen and (min-width: 372px) {
      &:nth-child(1) {
        @include firstInRowMargins;
      }

      &:nth-child(2) {
        @include lastInRowMargins;
      }
    }
  }

  /* When three buttons big */
  @include withNElements('.a-btn:not(.a-btn--small)', 3) {
    @media screen and (min-width: 370px) {
      &:nth-child(1) {
        @include firstInRowMargins;
      }

      &:nth-child(2) {
        @include lastInRowMargins;
      }

      &:nth-child(3) {
        @include aloneInRowMargins;
      }
    }

    @media screen and (min-width: 552px) {
      &:nth-child(1) {
        @include firstInRowMargins;
      }

      &:nth-child(2) {
        @include middleInRowMargins;
      }

      &:nth-child(3) {
        @include lastInRowMargins;
      }
    }
  }

  /* When four buttons big */
  @include withNElements('.a-btn:not(.a-btn--small)', 4) {
    @media screen and (min-width: 352px) {
      &:nth-child(1),
      &:nth-child(3)  {
        @include firstInRowMargins;
      }

      &:nth-child(2),
      &:nth-child(4) {
        @include lastInRowMargins;
      }

    }

    @media screen and (min-width: 564px) {
      &:nth-child(1) {
        @include firstInRowMargins;
      }

      &:nth-child(2) {
        @include middleInRowMargins;
      }

      &:nth-child(3) {
        @include lastInRowMargins;
      }

      &:nth-child(4) {
        @include aloneInRowMargins;
      }
    }

    @media screen and (min-width: 790px) {
      &:nth-child(1) {
        @include firstInRowMargins;
      }

      &:nth-child(2),
      &:nth-child(3) {
        @include middleInRowMargins;
      }

      &:nth-child(4) {
        @include lastInRowMargins;
      }
    }
  }

  /* When two buttons small */
  @include withNElements('.a-btn.a-btn--small', 2) {
    &:nth-child(1) {
      @include firstInRowMargins;
    }

    &:nth-child(2) {
      @include lastInRowMargins;
    }
  }

  /* When three buttons small */
  @include withNElements('.a-btn.a-btn--small', 3) {
    &:nth-child(1) {
      @include firstInRowMargins;
    }

    &:nth-child(2) {
      @include lastInRowMargins;
    }

    &:nth-child(3) {
      @include aloneInRowMargins;
    }

    @media screen and (min-width: 415px) {
      &:nth-child(1) {
        @include firstInRowMargins;
      }

      &:nth-child(2) {
        @include middleInRowMargins;
      }

      &:nth-child(3) {
        @include lastInRowMargins;
      }
    }

  }

  /* When four buttons small */
  @include withNElements('.a-btn.a-btn--small', 4) {
    &:nth-child(1),
    &:nth-child(3) {
      @include firstInRowMargins;
    }

    &:nth-child(2),
    &:nth-child(4) {
      @include lastInRowMargins;
    }

    @media screen and (min-width: 425px) {
      &:nth-child(1) {
        @include firstInRowMargins;
      }

      &:nth-child(2) {
        @include middleInRowMargins;
      }

      &:nth-child(3) {
        @include lastInRowMargins;
      }

      &:nth-child(4) {
        @include aloneInRowMargins;
      }
    }

    @media screen and (min-width: 568px) {
      &:nth-child(1) {
        @include firstInRowMargins;
      }

      &:nth-child(2),
      &:nth-child(3) {
        @include middleInRowMargins;
      }

      &:nth-child(4) {
        @include lastInRowMargins;
      }
    }
  }
}
