.m-form__field__group {
  position: relative;
  flex: 0 0 100%;

  @include mq(small) {
    display: flex;
    flex: 0 0 map-get($formConfig, fieldMaxWidth);
    flex-direction: column;
  }
}

.m-form__field__group .a-form__field__input {
  display: flex;
}

.m-form__field__group .a-form__field__error {
  flex: 1;
  padding-left: 0;
}

.m-form__field__group__append,
.m-form__field__group__prepend {
  align-items: center;
  display: flex;
  height: map-get($formConfig, fieldHeight);
  justify-content: center;
  mix-blend-mode: darken;
  position: absolute;
  width: map-get($formConfig, fieldHeight);
  z-index: 2;
}

.m-form__field__group__append {
  border-left: map-get($formConfig, borderWidth) solid color(shape);
  cursor: pointer;
  right: 0;

  & ~ .a-form__field__input {
    padding-right: map-get($formConfig, fieldHeight) + 10px;
  }

  & ~ .a-form__field__input:disabled {
    pointer-events: all;
    z-index: 2;
  }

  &.noBorder {
    border-left: 0px;
  }
}

.m-form__field__group__prepend {
  left: 0;

  & ~ .a-form__field__input {
    padding-left: map-get($formConfig, fieldHeight);
  }
}
