.m-list {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  list-style-type: disc;
  position: relative;

  &--no-pointers {
    padding: 0;
    margin: 0;
  }
}

.m-nav .m-list {
  flex: 0 0 auto;
  justify-content: flex-end;
  z-index: 110;
}
