.m-list-chooser {
  align-items: center;
  background-color: color(shape, light);
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.m-list-chooser__item {
  background: color(background, base);
  border: 1px solid color(shape, base);
  border-radius: 5px;
  box-shadow: map-get($formConfig, fieldShadow);
  font-size: size(small);
  line-height: lineHeight(small);
  padding: 30px;
  width: map-get($listChooserConfig, width);

  &.is-selected {
    background: color(brandAlt, light);
  }

  &:hover,
  &.is-selected {
    border: 1px solid color(brandAlt, dark);
    box-shadow: map-get($listChooserConfig, boxShadowHighlighted);
  }
}

.m-list-chooser__item + .m-list-chooser__item {
  margin-top: 10px;
}
