.m-loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.m-loader--small {
    align-items: normal;
  }
}

.m-loader__text {
  flex-direction: column;
  padding-top: 20px;
}

.m-loader__spinner {
  animation: animateSpinner 1s infinite linear;
  border: map-get($loaderConfig, borderRadius) solid rgba(color(brand, light), 0.2);
  border-radius: 50%;
  border-top-color: color(brand, base);
  height: map-get($loaderConfig, height);
  width: map-get($loaderConfig, with);

  .m-loader--small & {
    border-width: map-get($loaderConfig, borderRadiusSmall);
    height: map-get($loaderConfig, heightSmall);
    width: map-get($loaderConfig, withSmall);
  }
}

.is-IE .m-loader__car {
  @extend .m-loader__spinner;

  .m-loader__car__group {
    display: none;
  }
}

.m-loader__car__group {
  fill-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: scale(0.4);
  
  .m-loader__car--small & {
    transform: scale(0.2);
  }
}

.m-loader__car__group__body {
  animation: animateShake 0.2s ease-in-out infinite alternate;
  fill: color(brand);
}

.m-loader__car__group__wheel {
  fill: color(brand);
}

.m-loader__car__group__line {
  animation: animateLine 0.8s ease-in-out infinite;
  animation-fill-mode: both;
  stroke-dasharray: 100;
  stroke-width: 7;
  transform-origin: center right;

  &.m-loader__car__group__line--top {
    animation-delay: 0s;
    stroke: color(brand);
  }

  &.m-loader__car__group__line--middle {
    animation-delay: 0.2s;
    stroke: color(brand);
  }

  &.m-loader__car__group__line--bottom {
    animation-delay: 0.4s;
    stroke: color(brand);
  }
}

@keyframes animateSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animateShake {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(3%);
  }
}

@keyframes animateLine {
  0% {
    stroke-dashoffset: -100;
  }

  25% {
    stroke-dashoffset: -100;
  }

  50% {
    stroke-dashoffset: 0;
  }

  51% {
    stroke-dashoffset: 0;
  }

  80% {
    stroke-dashoffset: 100;
  }

  100% {
    stroke-dashoffset: 100;
  }
}
