$loaderConfig: (
  spinner: (
    borderBackColor: rgba(color(brand, light), 0.2),
    borderColor: color(brand, base),
    borderWidth: rem(6px),
    size: rem(60px),
    small: (
      borderWidth: rem(3px),
      size: rem(20px),
    )
  ),
  car: (
    color: color(brand),
    offset: translateX(-15px),
  ),
  text: (
    paddingTop: rem(20px),
  )
) !default;

.loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loader__spinner {
  animation: animateSpinner 1s infinite linear;
  border-color: get($loaderConfig, spinner, borderBackColor);
  border-radius: 50%;
  border-style: solid;
  border-top-color: get($loaderConfig, spinner, borderColor);
  border-width: get($loaderConfig, spinner, borderWidth);
  height: get($loaderConfig, spinner, size);
  width: get($loaderConfig, spinner, size);

  .loader--small & {
    border-width: get($loaderConfig, spinner, small, borderWidth);
    height: get($loaderConfig, spinner, small, size);
    width: get($loaderConfig, spinner, small, size);
  }
}

.loader__text {
  flex-direction: column;
  padding-top: get($loaderConfig, text, paddingTop);
}

.loader__car {
  transform: get($loaderConfig, car, offset);

  @include ie {
    animation: animateSpinner 1s infinite linear;
    border-color: get($loaderConfig, spinner, borderBackColor);
    border-radius: 50%;
    border-style: solid;
    border-top-color: get($loaderConfig, spinner, borderColor);
    border-width: get($loaderConfig, spinner, borderWidth);
    height: get($loaderConfig, spinner, size);
    transform: translateX(0);
    width: get($loaderConfig, spinner, size);
  }
}

.loader__car__group {
  fill-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: scale(0.4);

  @include ie {
    display: none;
  }
}

.loader__car__group__body {
  animation: animateShake 0.2s ease-in-out infinite alternate;
  fill: get($loaderConfig, car, color);
}

.loader__car__group__wheel {
  fill: get($loaderConfig, car, color);
}

.loader__car__group__line {
  animation: animateLine 0.8s ease-in-out infinite;
  animation-fill-mode: both;
  stroke-dasharray: 100;
  stroke-width: 7;
  transform-origin: center;
}

.loader__car__group__line--top {
  animation-delay: 0s;
  stroke: get($loaderConfig, car, color);
}

.loader__car__group__line--middle {
  animation-delay: 0.2s;
  stroke: get($loaderConfig, car, color);
}

.loader__car__group__line--bottom {
  animation-delay: 0.4s;
  stroke: get($loaderConfig, car, color);
}

@keyframes animateSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animateShake {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(3%);
  }
}

@keyframes animateLine {
  0%, 25% {
    stroke-dashoffset: -100;
  }

  50%, 51% {
    stroke-dashoffset: 0;
  }

  80%, 100% {
    stroke-dashoffset: 100;
  }
}
